.btn {
  font-size: 24px !important;
  font-weight: bold !important;
  background: #E8E8E8;
  font-weight: bold;
  height: 100px;
  margin-right: 3px;
  margin-top: 3px !important;
  margin-bottom: 3px !important;
  text-align: center !important;
  width: 250px;
  border-radius: 12px !important;
}
