h2 {
  font-size: 22px !important;
}

.btn {
  font-size: 22px !important;
  background: #E8E8E8;
  font-weight: bold;
  height: 125px;
  width: 95%;
  border-radius: 12px !important;
}

.gameinfoBtn {
  width: 80% !important;
}

.scoreboard {
  width: 100%;
}

.board {
  padding-left: 12px !important;
  padding-right: 2px !important;
}

.padded {
  padding-left: 0px !important;
  padding-right: 1px !important;
  padding-top: 3px !important;
  padding-bottom: 3px !important;
}

.progressBar .bar {
  height: 35px !important;
  padding: 0px;
  margin: 0px;
  font-size: 16px;
}

@media (min-width : 320px) and (max-width : 640px) {

  .board {
    padding-left: 14px !important;
    padding-right: 10px !important;
  }

  h1 {
    font-size: 16px !important;
  }

  h2 {
    font-size: 11px !important;
  }

  .progressBar .bar {
    font-size: 8px !important;
    height: 25px !important;
  }

  .padded {
    padding-left: 0px !important;
    padding-right: 1px !important;
    padding-top: .5px !important;
    padding-bottom: 0px !important;
  }

  .btn {
    font-size: 8px !important;
    background: #E8E8E8;
    font-weight: bold;
    height: 45px;
    text-align: center !important;
    width: 100%;
    border-radius: 12px !important;
  }

  .gameinfoBtn {
    width: 100% !important;
    font-size: 8px !important;
  }

}
